/* =========================================
   HOSTING DE OCCIDENTE
   Estilos globales
   Proyecto II - UDG
========================================= */

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

img {
  max-width: 100%;
  display: block;
}

::selection {
  background: #d6a84f;
  color: #172331;
}